<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controller - OptiSort</title>

    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-5.3.3-dist/bootstrap.min.css')}}">
    <script src="{{url_for('static', filename='bootstrap-5.3.3-dist/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='jquery-3.7.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='sweetalert2@11.js')}}"></script>
    <script src="{{url_for('static', filename='socket.io.js')}}"></script>
    <script src="{{url_for('static', filename='chart.js')}}"></script>
    <script src="{{url_for('static', filename='light-dark-switch.js')}}"></script>
    <script src="{{url_for('static', filename='tools.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='light-dark-switch.css') }}">
    <link rel="icon" href="{{url_for('static', filename='icon.png')}}">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@700&display=swap');

        ::-webkit-scrollbar {
            width: 6px;
        }

        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        body {
            font-family: 'Josefin Sans', sans-serif;
        }

        .class-card {
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 10px;
            margin: 10px;
            display: inline-block;
            max-width: 300px;
        }

        .class-card button {
            margin-top: 10px;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .delete-btn {
            background-color: var(--bs-danger);
            color: var(--bs-light);
            margin-right: 5px;
        }

        .load-btn {
            background-color: var(--bs-primary);
            color: var(--bs-light);
            margin-right: 5px;
        }

        .delete-btn:disabled,
        .load-btn:disabled {
            /* make it darker */
            filter: brightness(0.5);
        }

        .active-class-card {
            border: 2px solid var(--bs-primary);
        }

        .switch-container {
            display: flex;
            align-items: center;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 24px;
            min-width: 50px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
            border-radius: 24px;
            min-width: 50px;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 2px;
            bottom: 2px;
            background-color: var(--bs-blue);
            transition: .4s;
            border-radius: 50%;
        }

        input:checked+.slider:before {
            transform: translateX(26px);
            background-color: var(--bs-blue);
        }

        .switch-label {
            font-size: 14px;
            margin: 0 10px;
        }

        .switch-label.active {
            color: var(--bs-primary);
        }
    </style>
</head>

<body>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="check2" viewBox="0 0 16 16">
            <path
                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
        </symbol>
        <symbol id="circle-half" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
        </symbol>
        <symbol id="moon-stars-fill" viewBox="0 0 16 16">
            <path
                d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
            <path
                d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
        </symbol>
        <symbol id="sun-fill" viewBox="0 0 16 16">
            <path
                d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
        </symbol>
    </svg>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-auto bg-primary sticky-top">
                <div class="d-flex flex-sm-column flex-row flex-nowrap align-items-center sticky-top">
                    <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip"
                        data-bs-placement="right" data-bs-original-title="Icon-only">
                        <span class="fs-5 text-light">O<span class="d-none d-sm-inline">ptiSort</span></span>
                    </a>
                    <ul
                        class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto align-items-center align-items-sm-start">
                        <li class="nav-item">
                            <a href="/" class="nav-link py-3 px-2 text-dark" title="" data-bs-toggle="tooltip"
                                data-bs-placement="right" data-bs-original-title="Home">
                                <span class="ms-1"><b>Home</b></span>
                            </a>
                        </li>
                        <li>
                            <a href="/trainmodel" class="nav-link py-3 px-2 text-dark" title="" data-bs-toggle="tooltip"
                                data-bs-placement="right" data-bs-original-title="Train model">
                                <span class="ms-1"><b>Train model</b></span>
                            </a>
                        </li>
                        <li>
                            <a href="/documentation" class="nav-link py-3 px-2 text-dark" title=""
                                data-bs-toggle="tooltip" data-bs-placement="right"
                                data-bs-original-title="Documentation">
                                <span class="ms-1"><b>Documentation</b></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm p-3 min-vh-100">
                <!-- content -->

                <div class="container mt-4">
                    <div class="col">
                        <div class="row">
                            <h1>Images</h1>
                            <div id="image-container"></div>
                        </div>
                        <div class="row">
                            <h1>Response</h1>
                            <div id="text-output"></div>
                        </div>
                    </div>
                    <br>
                    <div>
                        <!-- change mode of scanning or evaluation via toggle switch -->
                        <h2>Mode</h2>
                        <div class="switch-container">
                            <label class="switch-label switch-label-off">Evaluate images with the ai</label>
                            <div class="switch">
                                <input type="checkbox" id="toggle-switch">
                                <label class="slider round" for="toggle-switch"></label>
                            </div>
                            <label class="switch-label switch-label-on">Save the images without ai evaluation</label>
                        </div>
                    </div>
                    <br>
                    <h2>Trained Models available</h2>
                    <div id="trained-models">
                        <!-- models will be inserted here dynamically -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
        <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button"
            aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
            <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
                <use href="#circle-half"></use>
            </svg>
            <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light"
                    aria-pressed="false">
                    <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                        <use href="#sun-fill"></use>
                    </svg>
                    Light
                    <svg class="bi ms-auto d-none" width="1em" height="1em">
                        <use href="#check2"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark"
                    aria-pressed="false">
                    <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                        <use href="#moon-stars-fill"></use>
                    </svg>
                    Dark
                    <svg class="bi ms-auto d-none" width="1em" height="1em">
                        <use href="#check2"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto"
                    aria-pressed="true">
                    <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                        <use href="#circle-half"></use>
                    </svg>
                    Auto
                    <svg class="bi ms-auto d-none" width="1em" height="1em">
                        <use href="#check2"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>

    <script type="text/javascript" charset="utf-8">

        var socket = io();
        socket.on('update_images', function (data) {
            var imageContainer = document.getElementById('image-container');
            imageContainer.innerHTML = '';

            for (var i = 0; i < data.images.length; i++) {
                var img = document.createElement('img');
                img.src = data.images[i];
                img.style.width = '200px';
                img.style.margin = '10px';
                imageContainer.appendChild(img);
            }

            console.log("Images updatet.")
        });

        socket.on('update_text', function (data) {
            var textOutput = document.getElementById('text-output');
            textOutput.innerHTML = data.text;
        });

        // Fetch trained models from the server and display them
        fetch('/get-trained-models')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                var trainedModels = document.getElementById('trained-models');
                if (data && data.models) {
                    data.models.forEach(model => {
                        var card = document.createElement('div');
                        card.classList.add('class-card');
                        card.setAttribute('data-model-name', model.model_name);
                        card.innerHTML = `<h3>${model.model_name}</h3>` +
                            `<p>Classes: ${model.class_names.join(', ')}</p>` +
                            `<p>Initial Epochs: ${model.initial_epochs}</p>` +
                            `<p>Fine-tune Epochs: ${model.finetune_epochs}</p>` +
                            `<p>Sorting Type: ${model.sorting_type}</p>` +
                            `<p>Class Count: ${model.class_count}</p>` +
                            `<button class="load-btn" data-model-name="${model.model_name}">Load</button>` +
                            `<button class="delete-btn" data-model-name="${model.model_name}">Delete</button>`;
                        trainedModels.appendChild(card);
                    });

                    document.querySelectorAll('.delete-btn').forEach(button => {
                        button.addEventListener('click', function () {
                            // Deactivating all delete buttons
                            document.querySelectorAll('.delete-btn').forEach(btn => btn.disabled = true);
                            // Deactivating all load buttons
                            document.querySelectorAll('.load-btn').forEach(btn => btn.disabled = true);

                            Swal.fire({
                                title: 'Are you sure?',
                                text: "You won't be able to revert this!",
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: 'var(--bs-danger)',
                                cancelButtonColor: 'var(--bs-gray)',
                                confirmButtonText: 'Yes, delete it!'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    fetch('/delete-model', {
                                        method: 'DELETE',
                                        headers: { 'Content-Type': 'application/json' },
                                        body: JSON.stringify({ model_name: this.getAttribute('data-model-name') })
                                    })
                                        .then(res => {
                                            if (res.ok) {
                                                return res.json().then(data => {
                                                    console.log(data.message);
                                                    sweetAlert(data.message, 'success');
                                                    this.parentNode.remove();
                                                });
                                            } else {
                                                // Assuming the failure response also returns JSON with a message
                                                return res.json().then(data => {
                                                    console.log(data.message);
                                                    sweetAlert(data.message, 'error'); // Use 'error' for failure
                                                });
                                            }
                                        })
                                        .catch(error => {
                                            console.error('Failed to delete model', error);
                                            sweetAlert('Failed to delete model', 'error'); // Show error message on catch
                                        });
                                }
                                // Activating all delete buttons again
                                document.querySelectorAll('.delete-btn').forEach(btn => btn.disabled = false);
                                // Activating all load buttons again
                                document.querySelectorAll('.load-btn').forEach(btn => btn.disabled = false);
                            });
                        });
                    });

                    document.querySelectorAll('.load-btn').forEach(button => {
                        button.addEventListener('click', function () {
                            // Deactivating all load buttons
                            document.querySelectorAll('.load-btn').forEach(btn => btn.disabled = true);
                            // Deactivating all delete buttons
                            document.querySelectorAll('.delete-btn').forEach(btn => btn.disabled = true);

                            fetch('/load-model', {
                                method: 'POST',
                                headers: { 'Content-Type': 'application/json' },
                                body: JSON.stringify({ model_name: this.getAttribute('data-model-name') })
                            })
                                .then(res => {
                                    if (res.ok) {
                                        return res.json().then(data => {
                                            console.log(data.message);
                                            sweetAlert(data.message, 'success');

                                            // mark the currently loaded model as active, load name from the button
                                            setClassCardActive(this.getAttribute('data-model-name'));
                                        });
                                    } else {
                                        // Assuming the failure response also returns JSON with a message
                                        return res.json().then(data => {
                                            console.log(data.message);
                                            sweetAlert(data.message, 'error'); // Use 'error' for failure
                                        });
                                    }
                                })
                                .catch(error => {
                                    console.error('Failed to load model', error);
                                    sweetAlert('Failed to load model', 'error'); // Show error message on catch
                                })
                                .finally(() => {
                                    // Activating all load buttons again
                                    document.querySelectorAll('.load-btn').forEach(btn => btn.disabled = false);
                                    // Activating all delete buttons again
                                    document.querySelectorAll('.delete-btn').forEach(btn => btn.disabled = false);
                                });
                        });
                    });

                    // mark the currently loaded model as active
                    if (data.current_model && data.current_model.length > 0 && data.current_model !== '') {
                        setClassCardActive(data.current_model);
                    }
                } else {
                    console.error('No models data found in response');
                    trainedModels.innerHTML = '<p>No models data found.</p>';
                }
            })
            .catch(error => {
                console.error('Error fetching models:', error);
            });


        function setClassCardActive(modelName) {
            document.querySelectorAll('.class-card').forEach(card => {
                if (card.getAttribute('data-model-name') === modelName) {
                    card.classList.add('active-class-card');
                } else {
                    card.classList.remove('active-class-card');
                }
            });
        }


        // load AIEvaluationMode from the server and set the toggle switch accordingly (answer from the server is 0 or 1)
        // 0 uses the AI, 1 saves the images without AI evaluation
        fetch('/get-ai-evaluation-mode')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById('toggle-switch').checked = data.ai_evaluation_mode;
                updateModeLabel(data.ai_evaluation_mode);
            })


        // listen to the toggle switch change event and send the new value to the server
        document.getElementById('toggle-switch').addEventListener('change', function () {
            fetch('/set-ai-evaluation-mode', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ ai_evaluation_mode: this.checked ? 1 : 0 })
            })
                .then(res => {
                    if (res.ok) {
                        return res.json().then(data => {
                            console.log(data.message);
                            sweetAlert(data.message, 'success');
                        });
                    } else {
                        // Assuming the failure response also returns JSON with a message
                        return res.json().then(data => {
                            console.log(data.message);
                            sweetAlert(data.message, 'error'); // Use 'error' for failure
                        });
                    }
                })
                .catch(error => {
                    console.error('Failed to set AI evaluation mode', error);
                    sweetAlert('Failed to set AI evaluation mode', 'error'); // Show error message on catch
                });
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        var socket = io();

        // Listen for mode change events from the server
        socket.on('mode_changed', function (data) {
            var mode = data.mode;
            var toggleSwitch = document.getElementById('toggle-switch');
            toggleSwitch.checked = mode === 1;
            updateModeLabel(mode);
        });

        // Send mode change events to the server
        document.getElementById('toggle-switch').addEventListener('change', function () {
            var mode = this.checked ? 1 : 0;
            socket.emit('change_mode', { 'mode': mode });
        });

        function updateModeLabel(mode) {
            var modeLabelOn = document.querySelector('.switch-label-on');
            var modeLabelOff = document.querySelector('.switch-label-off');
            if (mode === 1) {
                modeLabelOn.classList.add('active');
                modeLabelOff.classList.remove('active');
            } else {
                modeLabelOn.classList.remove('active');
                modeLabelOff.classList.add('active');
            }
        }
    </script>
</body>

</html>